// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Variables
$font-family: 'var(--font-family)'; // Note that this is defined in theme fields.
$heading-font: 'var(--font-family-headings)';
$font-weights: (
  light: 300,
  normal: 400,
  bold: 700
);
$color-primary: rgba(242, 205, 0, 1);
$color-secondary: rgba(224, 0, 77, 1);
$link-color: rgba(242, 205, 0, 1);

$main-transition: 0.25s all;

$z-levels: (
  hero-layer-1: 1,
  hero-layer-2: 2,
  hero-surface: 5,
  nav: 9999
);

:root {
  // Note that some styles comes from HEAD section also because of HubL theme fields.
  --blue: #45BCD8;
  --indigo: #6610F2;
  --red: #DC3545;
  --orange: #FF5B22;
  --yellow: #FACA00;
  --green: #20C997;
  --gray: #FBFBFC;
  --black: #000000;
  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};
}
